alias gdb="gdb -quiet"
alias untar='tar -xvf'
alias fix-files="sudo find . -type f -exec chmod 644 '{}' \; -print"
alias fix-dirs="sudo find . -type d -exec chmod 755 '{}' \; -print"
alias pfu="ps -fU`whoami`"

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

command -v hd > /dev/null || alias hd="hexdump -C"
command -v md5sum > /dev/null || alias md5sum="md5"
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

alias gundo="git reset HEAD~1"
alias git-nuke="git reset FETCH_HEAD —hard"

alias terrorform=terraform
alias yagni=rm

alias proxy="source ~/.proxy"
alias noproxy="source ~/.noproxy"
